<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<description>
		</description>
		<display-name>SessionFilter</display-name>
		<filter-name>SessionFilter</filter-name>
		<filter-class>fr.cnam.openopti.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Accueil</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ajouter_facture</display-name>
		<servlet-name>Ajouter_facture</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Ajouter_facture</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Facture_detaillee</display-name>
		<servlet-name>Facture_detaillee</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Facture_detaillee</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Authentification</display-name>
		<servlet-name>Authentification</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Authentification</servlet-class>
	</servlet>

	<servlet>
		<display-name>Commenter</display-name>
		<servlet-name>Commenter</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Commenter</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>Acquitter</display-name>
		<servlet-name>Acquitter</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Acquitter</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>GestionOpticien</display-name>
		<servlet-name>GestionOpticien</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.GestionOpticien</servlet-class>
	</servlet>
	<servlet>
		<description></description>

		<display-name>Bilan</display-name>
		<servlet-name>Bilan</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Bilan</servlet-class>
	</servlet>
	<servlet>
		<display-name>Liste_Opticien</display-name>
		<servlet-name>Liste_Opticien</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Liste_Opticien</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GestionOAM</display-name>
		<servlet-name>GestionOAM</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.GestionOAM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Liste_OAM</display-name>
		<servlet-name>Liste_OAM</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Liste_OAM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Deconnexion</display-name>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.cnam.openopti.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ajouter_facture</servlet-name>
		<url-pattern>/Ajouter_facture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Facture_detaillee</servlet-name>
		<url-pattern>/Facture_detaillee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authentification</servlet-name>
		<url-pattern>/Authentification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Commenter</servlet-name>
		<url-pattern>/Commenter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Acquitter</servlet-name>
		<url-pattern>/Acquitter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bilan</servlet-name>
		<url-pattern>/Bilan</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>GestionOpticien</servlet-name>
		<url-pattern>/GestionOpticien</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Liste_Opticien</servlet-name>
		<url-pattern>/Opticiens</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionOAM</servlet-name>
		<url-pattern>/GestionOAM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Liste_OAM</servlet-name>
		<url-pattern>/Liste_OAM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Authentification</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/jstl_config/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>
